/* line 1, D:/Projects/Yaric1997.github.io/pulse/sass/_promo.sass */
.promo {
  min-height: 650px;
  padding: 21px 0 93px 0;
  background: url("../img/bg1.jpg") center center/cover no-repeat;
}

/* line 5, D:/Projects/Yaric1997.github.io/pulse/sass/_promo.sass */
.promo__wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 90px;
}

/* line 10, D:/Projects/Yaric1997.github.io/pulse/sass/_promo.sass */
.promo__header {
  color: #ffffff;
  font-size: 42px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 42px;
}

/* line 16, D:/Projects/Yaric1997.github.io/pulse/sass/_promo.sass */
.promo__subheader {
  margin-top: 17px;
  color: #ffffff;
  line-height: 24px;
  font-size: 24px;
  font-weight: 500;
  text-transform: uppercase;
}

/* line 23, D:/Projects/Yaric1997.github.io/pulse/sass/_promo.sass */
.promo__icons {
  margin-top: 65px;
  width: 425px;
  display: flex;
  justify-content: space-between;
}

/* line 28, D:/Projects/Yaric1997.github.io/pulse/sass/_promo.sass */
.promo__icon {
  width: 106px;
  text-align: center;
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
}

/* line 34, D:/Projects/Yaric1997.github.io/pulse/sass/_promo.sass */
.promo__icon img {
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
}

/* line 38, D:/Projects/Yaric1997.github.io/pulse/sass/_promo.sass */
.promo__link {
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  margin-top: 18px;
}

/* line 43, D:/Projects/Yaric1997.github.io/pulse/sass/_promo.sass */
.promo__link a {
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: underline;
}

/* line 1, D:/Projects/Yaric1997.github.io/pulse/sass/_header.sass */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* line 5, D:/Projects/Yaric1997.github.io/pulse/sass/_header.sass */
.header__logo {
  width: 250px;
}

/* line 7, D:/Projects/Yaric1997.github.io/pulse/sass/_header.sass */
.header__logo img {
  width: 100%;
}

/* line 9, D:/Projects/Yaric1997.github.io/pulse/sass/_header.sass */
.header__official {
  color: #ffffff;
  font-size: 12px;
  font-weight: 500;
  text-align: center;
}

/* line 14, D:/Projects/Yaric1997.github.io/pulse/sass/_header.sass */
.header__official span {
  display: block;
  font-size: 18px;
}

/* line 17, D:/Projects/Yaric1997.github.io/pulse/sass/_header.sass */
.header__phone {
  display: block;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
}

/* line 22, D:/Projects/Yaric1997.github.io/pulse/sass/_header.sass */
.header__phone:hover {
  color: #ffffff;
}

/* line 25, D:/Projects/Yaric1997.github.io/pulse/sass/_header.sass */
.header__contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

/* line 1, D:/Projects/Yaric1997.github.io/pulse/sass/_buttons.sass */
.button {
  width: 150px;
  height: 30px;
  border-radius: 5px;
  background-color: #c70101;
  border: none;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  color: #ffffff;
}

/* line 11, D:/Projects/Yaric1997.github.io/pulse/sass/_buttons.sass */
.button_main {
  margin-top: 67px;
  width: 300px;
  height: 50px;
  font-size: 16px;
}

/* line 16, D:/Projects/Yaric1997.github.io/pulse/sass/_buttons.sass */
.button_submit {
  width: 100%;
  height: 55px;
  font-size: 16px;
}

/* line 20, D:/Projects/Yaric1997.github.io/pulse/sass/_buttons.sass */
.button_mini {
  width: 131px;
  height: 40px;
  font-size: 14px;
}

@media (max-width: 991px) {
  /* line 2, D:/Projects/Yaric1997.github.io/pulse/sass/_media.sass */
  .header {
    justify-content: space-around;
  }
  /* line 4, D:/Projects/Yaric1997.github.io/pulse/sass/_media.sass */
  .promo__wrapper {
    align-items: center;
  }
  /* line 6, D:/Projects/Yaric1997.github.io/pulse/sass/_media.sass */
  .adventages__wrapper {
    padding: 0 20px;
  }
  /* line 8, D:/Projects/Yaric1997.github.io/pulse/sass/_media.sass */
  .consultation {
    padding: 100px 0px 92px 30px;
  }
  /* line 10, D:/Projects/Yaric1997.github.io/pulse/sass/_media.sass */
  .consultation__descr {
    margin-left: 20px;
  }
  /* line 12, D:/Projects/Yaric1997.github.io/pulse/sass/_media.sass */
  .title_left {
    margin-left: 20px;
  }
  /* line 14, D:/Projects/Yaric1997.github.io/pulse/sass/_media.sass */
  .feed-form {
    margin-left: 20px;
  }
}

@media (max-width: 767px) {
  /* line 20, D:/Projects/Yaric1997.github.io/pulse/sass/_media.sass */
  .header__logo img {
    width: 82%;
  }
  /* line 22, D:/Projects/Yaric1997.github.io/pulse/sass/_media.sass */
  .header__contacts {
    position: relative;
    right: 10px;
  }
  /* line 25, D:/Projects/Yaric1997.github.io/pulse/sass/_media.sass */
  .header__contacts a {
    font-size: 17px;
  }
  /* line 27, D:/Projects/Yaric1997.github.io/pulse/sass/_media.sass */
  .header__official {
    position: relative;
    right: 26px;
  }
  /* line 31, D:/Projects/Yaric1997.github.io/pulse/sass/_media.sass */
  .adventages__subtitle {
    font-size: 17px;
  }
  /* line 33, D:/Projects/Yaric1997.github.io/pulse/sass/_media.sass */
  .adventages__descr {
    font-size: 12px;
  }
  /* line 36, D:/Projects/Yaric1997.github.io/pulse/sass/_media.sass */
  .consultation__descr {
    font-size: 15px;
  }
  /* line 38, D:/Projects/Yaric1997.github.io/pulse/sass/_media.sass */
  .consultation .title_left {
    font-size: 18px;
  }
}

@media (max-width: 575px) {
  /* line 45, D:/Projects/Yaric1997.github.io/pulse/sass/_media.sass */
  .header__logo img {
    width: 100%;
  }
  /* line 47, D:/Projects/Yaric1997.github.io/pulse/sass/_media.sass */
  .header__contacts {
    display: none;
  }
  /* line 49, D:/Projects/Yaric1997.github.io/pulse/sass/_media.sass */
  .header__official {
    display: none;
  }
  /* line 52, D:/Projects/Yaric1997.github.io/pulse/sass/_media.sass */
  .promo__header {
    text-align: center;
    font-size: 25px;
  }
  /* line 55, D:/Projects/Yaric1997.github.io/pulse/sass/_media.sass */
  .promo__subheader {
    text-align: center;
    font-size: 14px;
  }
  /* line 58, D:/Projects/Yaric1997.github.io/pulse/sass/_media.sass */
  .promo .button_main {
    width: 151px;
    height: 50px;
    font-size: 10px;
  }
  /* line 62, D:/Projects/Yaric1997.github.io/pulse/sass/_media.sass */
  .promo__icons {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  /* line 67, D:/Projects/Yaric1997.github.io/pulse/sass/_media.sass */
  .promo__icon img {
    margin-top: 20px;
  }
  /* line 71, D:/Projects/Yaric1997.github.io/pulse/sass/_media.sass */
  .adventages__wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  /* line 76, D:/Projects/Yaric1997.github.io/pulse/sass/_media.sass */
  .adventages__item img {
    margin-top: 20px;
  }
  /* line 78, D:/Projects/Yaric1997.github.io/pulse/sass/_media.sass */
  .adventages .title {
    font-size: 25px;
    font-weight: 900;
  }
}

/* line 1, D:/Projects/Yaric1997.github.io/pulse/sass/_adventages.sass */
.adventages {
  padding: 70px 0 80px 0;
  background-color: #f6f6f6;
}

/* line 4, D:/Projects/Yaric1997.github.io/pulse/sass/_adventages.sass */
.adventages__wrapper {
  margin-top: 65px;
  display: flex;
  justify-content: space-between;
}

/* line 8, D:/Projects/Yaric1997.github.io/pulse/sass/_adventages.sass */
.adventages__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 238px;
}

/* line 13, D:/Projects/Yaric1997.github.io/pulse/sass/_adventages.sass */
.adventages__subtitle {
  margin-top: 38px;
  color: #0d0d0d;
  font-size: 18px;
  font-weight: 700;
}

/* line 18, D:/Projects/Yaric1997.github.io/pulse/sass/_adventages.sass */
.adventages__descr {
  margin-top: 26px;
  color: #0d0d0d;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  max-width: 247px;
}

/* line 25, D:/Projects/Yaric1997.github.io/pulse/sass/_adventages.sass */
.adventages__descr a {
  color: #ff0000;
  text-decoration: underline;
}

/* line 1, D:/Projects/Yaric1997.github.io/pulse/sass/_consultation.sass */
.consultation {
  min-height: 680px;
  padding: 100px 0 92px 0;
  background: url("../img/bg2.jpg") center center/cover no-repeat;
}

/* line 5, D:/Projects/Yaric1997.github.io/pulse/sass/_consultation.sass */
.consultation__descr {
  color: #ffffff;
  font-size: 20px;
  font-weight: 500;
}

/* line 1, D:/Projects/Yaric1997.github.io/pulse/sass/_titles.sass */
.title {
  color: #0d0d0d;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

/* line 7, D:/Projects/Yaric1997.github.io/pulse/sass/_titles.sass */
.title_left {
  color: #ffffff;
  font-size: 36px;
  text-align: left;
}

/* line 1, D:/Projects/Yaric1997.github.io/pulse/sass/_forms.sass */
.feed-form {
  margin-top: 36px;
  display: flex;
  flex-direction: column;
  width: 300px;
}

/* line 6, D:/Projects/Yaric1997.github.io/pulse/sass/_forms.sass */
.feed-form input {
  height: 50px;
  border-radius: 5px;
  background-color: #ffffff;
  margin-bottom: 15px;
  border: none;
  padding: 0 20px;
  color: #4b4b4b;
  font-size: 14px;
  font-weight: 300;
}

/* line 16, D:/Projects/Yaric1997.github.io/pulse/sass/_forms.sass */
.feed-form input:nth-child(3) {
  margin-bottom: 20px;
}

/* line 1, D:/Projects/Yaric1997.github.io/pulse/sass/_carousel.sass */
.carousel {
  padding: 81px 0;
}

/* line 3, D:/Projects/Yaric1997.github.io/pulse/sass/_carousel.sass */
.carousel__inner {
  position: relative;
  width: 750px;
  margin: 0 auto;
}

/* line 7, D:/Projects/Yaric1997.github.io/pulse/sass/_carousel.sass */
.carousel .prev, .carousel .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -66px;
  border: none;
  background-color: #fff;
}

/* line 14, D:/Projects/Yaric1997.github.io/pulse/sass/_carousel.sass */
.carousel .prev img, .carousel .next img {
  width: 31px;
  height: 50px;
}

/* line 17, D:/Projects/Yaric1997.github.io/pulse/sass/_carousel.sass */
.carousel .next {
  right: -66px;
  left: auto;
}

/* line 21, D:/Projects/Yaric1997.github.io/pulse/sass/_carousel.sass */
.carousel .tns-item img {
  display: block;
  margin: 0 auto;
}

/* line 1, D:/Projects/Yaric1997.github.io/pulse/sass/_catalog.sass */
.catalog {
  padding-bottom: 100px;
}

/* line 3, D:/Projects/Yaric1997.github.io/pulse/sass/_catalog.sass */
.catalog__tabs {
  margin-top: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  margin-bottom: 0;
  padding-left: 0;
}

/* line 11, D:/Projects/Yaric1997.github.io/pulse/sass/_catalog.sass */
.catalog__tab {
  width: 220px;
  height: 50px;
  border: solid 1px #d0d0d0;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  color: #6b6b6b;
  text-transform: uppercase;
  line-height: 48px;
  transform: skewX(-25deg);
  margin: 0 5px;
  cursor: pointer;
  transition: 0.5s all;
}

/* line 25, D:/Projects/Yaric1997.github.io/pulse/sass/_catalog.sass */
.catalog__tab:hover {
  box-shadow: 3px 3px 20px #c70101;
  border: none;
}

/* line 28, D:/Projects/Yaric1997.github.io/pulse/sass/_catalog.sass */
.catalog__tab div {
  transform: skewX(25deg);
}

/* line 30, D:/Projects/Yaric1997.github.io/pulse/sass/_catalog.sass */
.catalog__tab_active {
  color: #fff;
  background-color: #c70101;
  border: none;
}

/* line 34, D:/Projects/Yaric1997.github.io/pulse/sass/_catalog.sass */
.catalog__content {
  display: none;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 60px;
}

/* line 39, D:/Projects/Yaric1997.github.io/pulse/sass/_catalog.sass */
.catalog__content_active {
  display: flex;
}

/* line 41, D:/Projects/Yaric1997.github.io/pulse/sass/_catalog.sass */
.catalog-item {
  width: 300px;
  min-height: 440px;
  border: solid 2px #e8e8e8;
  padding: 20px 20px 26px 20px;
  overflow: hidden;
  margin-bottom: 20px;
}

/* line 48, D:/Projects/Yaric1997.github.io/pulse/sass/_catalog.sass */
.catalog-item__img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: 200px;
}

/* line 53, D:/Projects/Yaric1997.github.io/pulse/sass/_catalog.sass */
.catalog-item__subtitle {
  margin-top: 20px;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  color: #0d0d0d;
}

/* line 59, D:/Projects/Yaric1997.github.io/pulse/sass/_catalog.sass */
.catalog-item__descr {
  margin-top: 16px;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  color: #0d0d0d;
}

/* line 65, D:/Projects/Yaric1997.github.io/pulse/sass/_catalog.sass */
.catalog-item__link {
  display: block;
  margin-top: 17px;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  color: #c70101;
  text-decoration: underline;
  text-transform: uppercase;
}

/* line 74, D:/Projects/Yaric1997.github.io/pulse/sass/_catalog.sass */
.catalog-item__link:hover {
  color: #c70101;
}

/* line 76, D:/Projects/Yaric1997.github.io/pulse/sass/_catalog.sass */
.catalog-item hr {
  background-color: #e8e8e8;
  margin-top: 19px;
  margin-bottom: 21px;
  border-bottom: none;
}

/* line 81, D:/Projects/Yaric1997.github.io/pulse/sass/_catalog.sass */
.catalog-item__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* line 85, D:/Projects/Yaric1997.github.io/pulse/sass/_catalog.sass */
.catalog-item__old-price {
  font-size: 14px;
  font-weight: 300;
  text-align: left;
  color: #555555;
  text-decoration: line-through;
}

/* line 91, D:/Projects/Yaric1997.github.io/pulse/sass/_catalog.sass */
.catalog-item__price {
  font-size: 20px;
  font-weight: 700;
  text-align: left;
  color: #050505;
}

/* line 96, D:/Projects/Yaric1997.github.io/pulse/sass/_catalog.sass */
.catalog-item__wrapper {
  display: flex;
  width: calc(200% + 40px);
}

/* line 99, D:/Projects/Yaric1997.github.io/pulse/sass/_catalog.sass */
.catalog-item__content {
  width: 50%;
  margin-right: 0px;
  transform: translateX(-100%);
  transition: 0.5s all;
}

/* line 104, D:/Projects/Yaric1997.github.io/pulse/sass/_catalog.sass */
.catalog-item__content_active {
  transform: translateX(0%);
  margin-right: 20px;
}

/* line 107, D:/Projects/Yaric1997.github.io/pulse/sass/_catalog.sass */
.catalog-item__list {
  position: relative;
  width: 50%;
  margin-left: 20px;
  transform: translateX(0%);
  padding-right: 20px;
  transition: 0.5s all;
  padding-left: 19px;
  margin-bottom: 0;
  list-style-type: none;
}

/* line 117, D:/Projects/Yaric1997.github.io/pulse/sass/_catalog.sass */
.catalog-item__list_active {
  transform: translateX(-100%);
  margin-left: 0;
}

/* line 120, D:/Projects/Yaric1997.github.io/pulse/sass/_catalog.sass */
.catalog-item__list li {
  position: relative;
  font-size: 14px;
  font-weight: 300;
  color: #555555;
  margin-bottom: 20px;
}

/* line 126, D:/Projects/Yaric1997.github.io/pulse/sass/_catalog.sass */
.catalog-item__list li:before {
  content: '';
  position: absolute;
  width: 5px;
  height: 5px;
  background-color: #c70101;
  left: -14px;
  top: 7px;
}

/* line 134, D:/Projects/Yaric1997.github.io/pulse/sass/_catalog.sass */
.catalog-item__back {
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  color: #c70101;
  text-decoration: underline;
  text-transform: uppercase;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(calc(-50%-19px));
  display: block;
}

/* line 146, D:/Projects/Yaric1997.github.io/pulse/sass/_catalog.sass */
.catalog-item__back:hover {
  color: #c70101;
}

/* line 13, D:/Projects/Yaric1997.github.io/pulse/sass/style.sass */
* {
  font-family: 'Museo Sans Cyrl', sans-serif;
}

/* line 15, D:/Projects/Yaric1997.github.io/pulse/sass/style.sass */
.container {
  position: relative;
  max-width: 950px;
  margin: 0 auto;
}

/*# sourceMappingURL=style.css.map */