.advantages{
  background: #f3f3f3;
  padding: 57px 0 51px 0;
  .adventages_title{
    font-size: 26px;
    font-weight: 700;
    text-align: center;
    color: #2e2e2e;
  }
  .adventages_wrapper{
    display: flex;
    justify-content: space-around;
  }
}
